*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;/* 1rem = 10px, 10/16 = 62.5%; */
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}



/* === header section === */
.header__wrap{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    margin: 0 2%;
}

.header__logo{
    font-size: 2.5rem;
    color: #575757;
    cursor: pointer;
}
.color__orange{
    color: #FB994C;
}

/* === navigation === */
.header__navigation .navigation__list{
    padding: 0;
    margin: 0;
}

.header__navigation .navigation__item{
    display: inline-block;
}

.header__navigation .navigation__list .navigation__item .navigation__link:link,
.header__navigation .navigation__list .navigation__item .navigation__link:visited{
    text-decoration:none;
    color: #575757;
    padding: 1rem 2rem;
    font-weight: 600;
}

.header__navigation .navigation__list .navigation__item .navigation__link:hover,
.header__navigation .navigation__list .navigation__item .navigation__link:active{
    color: #FB9433;
    transition: .3s ease-out;
}

/* === Button === */
.btn{
    text-decoration: none;
    color: #fff;
    background: linear-gradient(94deg, rgba(251,150,75,1) 0%, rgba(254,76,47,1) 100%);
    padding: 1.5rem 3rem;
    border-radius: 5rem;
}



/* === hero__section === */
#hero__section{
    margin: 0 4%;
    display: flex;
}
.heading__wrap{
    color: #575757;
    margin: 20vh 2% 0 0;
    display: block;
    width: 49%;
}
.heading__primary{
    font-size: 5rem;
    line-height: 7rem;
    margin-bottom: 3rem;
}
.heading__wrap p {
    margin-bottom: 6rem;
    font-size: 2rem;
    line-height: 3rem;
}

.hero__img--wrap{
    width: 49%;
}
.hero__img--wrap .hero__img{
    width: 100%;
}



/* === about__section === */
#about__section{
    background: url(images/shapes/7.png) no-repeat;
    background-size: contain;
    display: flex;
    padding: 0 10% 0 10%;
    background-position: bottom;
}

.my__img--wrap{
    width: 50%;
    padding: 10% 10% 0 10%;
}
.my__img--wrap .my__img{
    width: 100%;
}

.aboutUs__info{
    width: 50%;
    padding: 12% 10% 0 10%;
}

.heading__secondary{
    color: #575757;
    font-size: 4rem;
    line-height: 8rem;
    margin-bottom: 2rem;
}

.aboutUs__info .about__text{
    margin-bottom: 5rem;
}
.paragraph{
    line-height: 3rem;
    font-size: 1.8rem;
}



/* === recipie__section === */
#recipie__section{
    margin: 0 4%;
}

.our__recipie--wrap{
    text-align: center;
    padding: 6rem 0 3.5rem 0;
}

.recipie__item{
    display: flex;
}
.card{
    width: 30%;
    padding: 2rem;
    box-shadow: 0px 0px 24px 0px #DCDCDC;
    border-radius: 2.5rem;
}
.center__card{
    margin: 0 5%;
}
.card .food__img{
    width: 100%;
    margin-bottom: 2rem;
}

.heading__fourth{
    font-size: 2.5rem;
    line-height: 7rem;
}
.recipie__text{
    margin-bottom: 2rem;
}



/* === followers__section === */
#followers__section{
    padding: 14rem 0 5rem 0;
}
.social__followers--wrap{
    display: flex;
    width: 92%;
    margin: 0 auto;
    justify-content: space-around;
    box-shadow: 0px 0px 24px 0px #DCDCDC;
    border-radius: 2rem;
}
.social__followers{
    padding: 7rem 0;
}
.social__followers .total__followers{
    font-size: 5rem;
    font-weight: 900;
}



/* === footer__section === */
#footer__section{
    margin-top: 5rem;
}
/* === footer__nav === */
.footer__nav{
    display: flex;
    justify-content: space-between;
    margin: 0 4%
}
.footer__nav .navigation__list{
    padding: 0;
    margin: 0;
}

.footer__nav .navigation__item{
    display: block;
}

.footer__nav .navigation__list .navigation__item .navigation__link{
    text-decoration:none;
    color: #575757;
    line-height: 3rem;
}

.line__height{
    line-height: 5rem;
}

/* === footer__foot === */
.footer__foot{
    background: #000;
    padding: 0 0 10rem 0;
    margin-top: 2rem;
    text-align: center;
}

.heading__tertiary{
    color: #575757;
    font-size: 3rem;
    line-height: 10rem;
}
.footer__text{
    color: #fff;
}
